@using System.Web.Optimization
@using MvcSiteMapProvider.Web.Html
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="fa" dir="rtl"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="fa" dir="rtl">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="icon" type="image/png" href="~/Content/Vendors/altair/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Content/Vendors/altair/assets/img/favicon-32x32.png" sizes="32x32">

    <title>کلینیک | @ViewBag.Title</title>
    @Styles.Render("~/bundles/styles/css")
    @RenderSection("styles", false)

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <link rel="stylesheet" href="assets/css/ie.css" media="all">
    <![endif]-->
</head>
<body class="disable_transitions sidebar_main_open sidebar_main_swipe">
    @Html.Partial(MVC.Shared.Views.MasterTemplates._MainHeader)
    @Html.Partial(MVC.Shared.Views.MasterTemplates._MainSideBar)
    <div id="page_content">
        <div id="page_content_inner">
            <div id="top_bar">
                @*@Html.MvcSiteMap().SiteMapPath()*@
            </div>
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div class="md-card">
                        <div class="md-card-content">
                                @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts/js")
    @RenderSection("scripts", false)
    @Html.Partial(MVC.Shared.Views._Toastr)
    @*<script>
        $(function() {
            if(isHighDensity()) {
                $.getScript( "assets/js/custom/dense.min.js", function(data) {
                    // enable hires images
                    altair_helpers.retina_images();
                });
            }
            if(Modernizr.touch) {
                // fastClick (touch devices)
                FastClick.attach(document.body);
            }
        });
        $window.load(function() {
            // ie fixes
            altair_helpers.ie_fix();
        });
    </script>*@
</body>
</html>
